<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../lib/HTMLEscape.js"></script>
    <script src="../global/host.js"></script>
    <link href="../stylesheet/champios.css" rel="stylesheet" type="text/css">
    <title>Champions</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Champion Id</th>
        <th>Champion Name</th>
        <th>Champion Title</th>
    </tr>
    </thead>
    <tbody id="champions-tbody">
    </tbody>
</table>

<script src="../js/showchampion.js"></script>
</body>
</html>